:root {
  --font-size-small: 1.4rem;
  --font-size-regular: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-xLarge: 4.2rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --default-padding: 1.6rem;
  --font-family-ar: "Almarai", sans-serif;
  --timing-animation: 0.2s;
  --color-black: #3e3e3e;
  --color-red: #ff2d2d;
  --color-blue: #064267;
  --color-white: white;
  --color-gray: #525252;
  --color-light-gray: #f1f3f5;
  --color-text: var(--color-black);
  --color-bg: var(--color-light-gray);
  --color-input: var(--color-white);
  --color-link: var(--color-blue);
  --color-task-hover: #ececec;
  --color-bg-dark-theme: #222222;
  --color-input-dark-theme: #333333;
  --color-text-dark-theme: var(--color-light-gray);
}
